django>4.2,<4.3
python-decouple
pillow
djangorestframework
markdown       # Markdown support for the browsable API.
django-filter
drf-yasg[validation]
coreapi
djangorestframework-simplejwt
django-mail-templated
djoser
django-cors-headers
# clean code
black
flake8
# test
pytest
pytest-django
faker